/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--text-color, #f1b2ce);
  font-family: var(--text-font, serif);
  font-size: var(--text-size);
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 768px;
  grid-template-rows: 1fr min-content 1fr;
  padding: 20px 20px 20px 0px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  inset-block-start: 20px;
  inset-inline-end: 20px;
  border-inline-end: 1px solid var(--nav-color, #ff0070);
  border-block-start: 1px solid var(--nav-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  inset-block-end: 20px;
  inset-inline-start: 20px;
  border-inline-start: 1px solid var(--nav-color, #ff0070);
  border-block-end: 1px solid var(--nav-color, #ff0070);
}

.decorated-element {
  position: absolute;
  padding-right: 28px;
  inset-block-start: 20px;
  inset-inline-end: 20px;
  font-size: var(--text-size, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: var(--accent-color, #ff0070);
  display: var(--decor-element);
}

.decorated-element::after {
  content: "";
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  text-shadow: 0 0 20px var(--accent-color, #ff0070);
}

.header__theme-menu {
  display: grid;
  padding-left: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.header__theme-menu-button {
  align-self: center;
  font-family: var(--text-font, serif);
  font-size: var(--text-size, 18px);
  background-color: transparent;
  padding: 0 13px;
  border: none;
  text-transform: lowercase;
  cursor: pointer;
  color: var(--nav-color, #ff0070);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  outline: 0px solid transparent;
  border-block-end: 1px solid var(--nav-color, #ff0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-color, #ff0070);
  color: var(--nav-color, #ff0070);
  pointer-events: none;
}

.title {
  color: var(--title-color, #db00ff);
  font-family: var(--text-font, IBM Plex Mono);
  font-size: var(--title-desc, clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  /* 129.525px */
}

.header__title {
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
}

.header__text {
  display: grid;
  justify-self: end;
  align-content: center;
  max-width: 50%;
  padding-left: 10px;
}

.header__text-block {
  font-family: var(--text-font, serif);
  font-size: var(--text-size, 18px);
  color: var(--subtitle-color, #000028);
  background-color: var(--accent-color, #ff0070);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  /* 130% */
}

.content {
  padding: 60px 20px;
  display: grid;
  gap: 80px;
}

.section__why {
  display: grid;
  align-content: start;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.section__title {
  color: var(--subtitle-main-color, #ff0070);
  font-family: var(--text-font, IBM Plex Mono);
  font-size: var(--text-size, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  /* 130% */
}

.section__article {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.article__title {
  font-family: var(--text-font, IBM Plex Mono);
  font-size: var(--text-size, 18px);
  color: var(--subtitle-color, #000028);
  background-color: var(--accent-color, #ff0070);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  /* 130% */
}

.article__text {
  color: var(--text-color, #f1b2ce);
  font-family: var(--text-font, IBM Plex Mono);
  font-size: var(--text-size, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  /* 130% */
}

.link-decoration {
  color: var(--text-color, #f1b2ce);
  text-shadow: 1px 2px 0px var(--accent-color, #ff0070);
  text-decoration: none;
}

.link-decoration:hover {
  border-block-end: 1px solid var(--text-color, #f1b2ce);
}

.linklink-decoration:focus {
  outline: none;
}

.link-decoration:focus-visible {
  outline: 1px solid var(--text-color, #f1b2ce);
}

.section__what {
  display: grid;
  gap: 20px;
}

.section__what .section__title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section__article-what {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: start;
}

.section__how {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.article__title-small {
  font-family: var(--text-font, serif);
  font-size: var(--text-size, 18px);
  color: var(--subtitle-color, #000028);
  background-color: var(--accent-color, #ff0070);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  /* 130% */
}

.section__pic {
  display: grid;
  gap: 20px;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.image:nth-child(1) {
  grid-column: span 2;
}

.image:nth-child(2) {
  grid-row: span 2;
}

.image:nth-child(3) {
  grid-row: span 2;
}

.image:nth-child(5) {
  grid-column: span 2;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 768px;
}

.footer__title {
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}

.footer.decorated-zone {
  position: relative;
}

@media (width <=768px) {
  .header {
    min-height: 1024px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: end;
  }

  .section__why {
    gap: 20px;
  }

  .section__what {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section__what .section__title {
    max-width: 236px;
  }

  .section__article-what {
    display: flex;
    flex-direction: column;
  }

  .section__how {
    gap: 20px;
  }

  .footer {
    min-height: 1024px;
  }
}

@media (width <=375px) {
  .header {
    min-height: 668px;
    padding: 10px;
  }

  .decorated-zone::before {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .decorated-zone::after {
    inset-block-end: 10px;
    inset-inline-start: 10px;
  }

  .decorated-element {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .decorated-element::after {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .title {
    font-size: var(--title-mob, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  }

  .header__text {
    justify-content: center;
    align-content: center;
    padding-left: 0;
    max-width: 100%;
  }

  .content {
    padding: 40px 10px;
    gap: 50px;
  }

  .section__why {
    display: flex;
    flex-direction: column;
  }

  .section__what .section__title {
    grid-template-columns: 1fr;
    max-width: 100%;
  }

  .section__how {
    display: flex;
    flex-direction: column;
  }

  .section__pic {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .gallery__grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    min-height: 668px;
    padding: 10px;
  }
}

@media (prefers-color-scheme: light) {
  .header__theme-menu-button {
    color: var(--nav-color, #353430);
  }

  .header__theme-menu-button:hover {
    outline: 1px solid var(--button-hover, rgba(50, 49, 45, 0.4));
  }

  .header__theme-menu-button:focus {
    outline: 0px solid transparent;
    border-bottom: 1px solid var(--nav-color, #353430);
  }

  .header__theme-menu-button_active {
    outline: 1px solid var(--nav-color, #353430);
  }

  .link-decoration {
    text-shadow: 1px 2px 0px var(--accent-color, #ff8dcb);
  }
}

@media (width > 375px) and (width <= 455px) {
  .header__text {
    max-width: fit-content;
  }

  .content {
    padding: 40px 10px 0 10px;
  }

  .section__why {
    gap: 10px;
  }

  .section__what {
    gap: 10px;
  }

  .section__how {
    gap: 10px;
    width: min-content;
  }
}

/* * { outline: 1px solid yellow; } */
